<!DOCTYPE html>
<html>
<head>
  <title><%= config.name %> - Redirect</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%- include('./include/ogp'); %>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/loading.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
  <%- include('./include/header'); %>

  <div class="center">
    <%- include('./include/message'); %>
    <h1>現在リダイレクト中です...</h1>
    <div class="font0-75">
      (しばらく待ってもリダイレクトされない場合は<a class="under" href="<% if (typeof redirect_url !== 'undefined') { %><%= redirect_url %><% } %>">ココ</a>をクリックしてください。)
    </div>
    <%- include('./include/loading'); %>
  </div>

  <%- include('./include/footer'); %>

  <% if (typeof timeout !== 'undefined' && typeof redirect_url !== 'undefined') { %>
    <script>
      setTimeout(function() {
        window.location.href = "<%= redirect_url %>";
      }, Number("<%= timeout %>"));
    </script>
  <% } %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>
</html>
