<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= config.server.root %>/"><%= config.name %></a>
  <div class="simple-flex">
    <div class="trim_header profile d-lg-none">
      <img src="/api/avatar" alt="User Icon">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if (isAuth) { %>
        <li class="nav-item">
          <a class="nav-link" href="<%= config.server.root %>/logout">ログアウト</a>
        </li>
      <% } else { %>
        <% if (current_path == "/signin") { %>
          <li class="nav-item">
            <a class="nav-link" href="<%= config.server.root %>/signup">サインアップ</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="<%= config.server.root %>/signin">サインイン</a>
          </li>
        <% } %>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="<%= config.social.me.portfolio.url %>" rel="noopener noreferrer" target="_blank">私について</a>
      </li>
    </ul>

    <div class="trim_header d-none d-lg-block">
      <img src="<%= config.server.root %>/api/avatar" alt="User Icon">
    </div>
  </div>
</nav>
<br>
