<% if (typeof errorMessage === 'undefined') { var errorMessage = []; } %>
<% if (errorMessage.length != 0) { %>
  <div>
    <strong class="error">Warning!</strong> The form contains <%= errorMessage.length %> errors.
  </div>
  <div>
    <ul>
      <% for (let error of errorMessage) { %>
        <li><%= error %></li>
      <% } %>
    </ul>
  </div>
<% } %>

<% if (typeof successMessage === 'undefined') { var successMessage = []; } %>
<% if (successMessage.length != 0) { %>
  <div>
    <strong class="success">Success!(<%= successMessage.length %>)</strong>
  </div>
  <div>
    <ul>
      <% for (let success of successMessage) { %>
        <li><%= success %></li>
      <% } %>
    </ul>
  </div>
<% } %>

<% if (typeof infoMessage === 'undefined') { var infoMessage = []; } %>
<% if (infoMessage.length != 0) { %>
  <div>
    <strong class="info">Info(<%= infoMessage.length %>)</strong>
  </div>
  <div>
    <ul>
      <% for (let info of infoMessage) { %>
        <li><%= info %></li>
      <% } %>
    </ul>
  </div>
<% } %>
