<a href='<%= hpurl %>'>
  <img width='60%' height='auto' src='<%= org_logourl %>'>
</a>
<br><br>
本人確認URLは以下の通りです。
<br>
<a href="<%= email_redirect_url %>"><%= email_redirect_url %></a><br>
なお、期限切れとなった場合は、再送信ボタンを押してください。
それでも再度期限切れとなった場合は、以下のサイトよりログインすることで、
メールを再送信できるフォームに移動します。<br>
<a href='<%= rooturl %>signin'><%= rooturl %>signin</a><br>
<br><br><br>
もし、このメールが不本意に送られていた場合、
<br>
お手数ですが、こちらのメールに返信してお問い合わせしてくださいませ。
<br><br>
<a href='<%= hpurl %>'>
  <div style='color:#808080;text-align:center;'>
    <u>Copyright &copy; <%= org_year %> <%= org_name %></u>
  </div>
</a>
