<a href='<%= hpurl %>'>
  <img width='60%' height='auto' src='<%= org_logourl %>'>
</a>
<br><br>
ワンタイムパスワードは以下の通りです。<br><br>
<div style='font-size: 2.0rem;'><%= onetime %></div>
<br><br><br>
もし、このメールが不本意に送られていた場合、
<br>
お手数ですが、こちらのメールに返信してお問い合わせしてくださいませ。
<br><br>
<a href='<%= hpurl %>'>
  <div style='color:#808080;text-align:center;'>
    <u>Copyright &copy; <%= org_year %> <%= org_name %></u>
  </div>
</a>
